.recipe {
  max-width: 1200px;
  margin: 40px auto;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
}

.recipe ul {
  padding: 0;
  margin-top: 0;
}

.recipe li {
  list-style-type: none;
  margin-bottom: 10px;
}

.method {
  text-align: left;
  line-height: 1.5em;
}

/*  dark mode */
.recipe.dark {
  background-color: #555;
  color: #e4e4e4;
}
