.recipe {
  max-width: 100rem;
  margin: 4rem auto;
  background-color: #fff;
  padding: 4rem;
  box-sizing: border-box;
}

.recipe ul {
  padding: 0;
  margin-top: 0;
}

.recipe li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.method {
  text-align: left;
  line-height: 1.5em;
}

/*  dark mode */
.recipe.dark {
  background-color: #555;
  color: #e4e4e4;
}
