.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
}

.theme-buttons .theme-button {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
  /* border: 2px solid #333; */
}
